.header-content {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #f9f9f9;
}

.header-inner-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container a img {
    margin-left: 10px;
    width: 125px;
}

.links p {
    color: black;
    margin-bottom: 0;
    padding-left: 10px;
    font-weight: 660;
}